# The many different objects

![](https://dl.dropboxusercontent.com/u/97258109/Screens/S3733.png)

[Source](http://faculty.washington.edu/ezivot/econ424/Working%20with%20Time%20Series%20Data%20in%20R.pdf)

`xts` and `zoo` are often handled for time series.

# Different WAys to test for Causality

In [3]:
df = read.csv("cleaned_df.csv")

In [5]:
head(df)

  observation_date  c_profits employment_rate
1       1948-01-01 0.08865515        56.46667
2       1948-04-01 0.09087578        56.63333
3       1948-07-01 0.08729875        56.76667
4       1948-10-01 0.08371927        56.60000
5       1949-01-01 0.07806826        56.13333
6       1949-04-01 0.06993007        55.36667

In [11]:
series = as.ts(df)

In [19]:
library(xts)

In [17]:
date = as.Date(df$observation_date)

In [23]:
head(weekdays(date))

[1] "Thursday" "Thursday" "Thursday" "Friday"   "Saturday" "Friday"

In [29]:
weekdays(date)[c(1:9)]

[1] "Thursday" "Thursday" "Thursday" "Friday"   "Saturday" "Friday"   "Friday"
[8] "Saturday" "Sunday"

In [32]:
date[1] + 1

[1] "1948-01-02"